<div class="row bible-study-page">
    <div class="col-lg-12 header">

        <div class="inner-panel flex flex-wrap-column flex-align-vertical-top flex-align-horizontal-center">
            <div class="content-row top">
                FaithInquest.com
            </div>

            <div class="content-row bottom">
                <h1 class="searsh-title">Search any bible topic</h1>
                <h4 class="search-title-desc">For example type "marriage" to find what bible says about marriage</h4>
                <form role="form" class="item-search" (ngSubmit)="onSearch()">
                    <div class="input-group">
                        <span class="input-group-addon" (click)="onSearch()"><span class="fa fa-fw fa-search" aria-hidden="true"></span></span>
                        <input type="text" class="form-control" name="pattern" placeholder="Search for..." [(ngModel)]="search.pattern">
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="col-lg-12 main-content">
        <div class="inner-panel">
            <div class="top-panel">
                <div class="top-panel-cell left">
                    <span *ngIf="search.patternOld || search.speakerOld">displaying results for </span>
                    <span *ngIf="search.patternOld">"<span class="highlight-blue search-pattern" [innerHTML]="search.patternOld" (click)="onSearchClear('pattern')"></span>"</span>
                    <span *ngIf="search.patternOld && search.speakerOld"> and </span>
                    <span *ngIf="search.speakerOld">"<span class="highlight-blue search-pattern" [innerHTML]="search.speakerOld" (click)="onSearchClear('speaker')"></span>"</span>
                </div>
                <div class="top-panel-cell right form-inline">
                    <div class="form-group">
                        <label for="sel1">sort by: </label>
                        <select class="form-control top-panel-select" id="sel1">
                            <optgroup class="top-panel-select-option">
                                <option>most recent</option>
                                <option>most recent1</option>
                                <option>most recent2</option>
                                <option>most recent3</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>

            <ti-study-list [editmode]="false" (onSearchData)="onSearch($event)"></ti-study-list>

        </div>
    </div>

    <sd-footer></sd-footer>

</div>
