.items-search {
  width: 100%;
  padding: 40px 0;

  .input-group {
    .input-group-addon {
      cursor: pointer;
    }

    .black {
      &input[text] {
        border-left: 0;
      }

      background-color: #454545;
      color: #ffffff;
    }
  }
}

.items-cloud {
  width: 100%;
  margin: 0 auto;
  height: 200px;

}

