<div class="top-panel flex flex-wrap-row flex-align-horizontal-stretch flex-align-vertical-center">
    <div class="top-panel-cell left">
        <span *ngIf="queryFilter.filter.pattern.value || queryFilter.filter.speaker.value">displaying results for </span>
        <span *ngIf="queryFilter.filter.pattern.value">
            "<span class="highlight-blue search-pattern" [innerHTML]="queryFilter.filter.pattern.value" (click)="onSearchClear('pattern')"></span>"
        </span>
        <span *ngIf="queryFilter.filter.pattern.value && queryFilter.filter.speaker.value"> and </span>
        <span *ngIf="queryFilter.filter.speaker.value">
            "<span class="highlight-blue search-pattern" [innerHTML]="queryFilter.filter.speaker.value" (click)="onSearchClear('speaker')"></span>"
        </span>
    </div>
    <div class="top-panel-cell right form-inline">
        <div class="form-group">
            <label for="sel1">sort by: </label>
            <select class="form-control top-panel-select" id="sel1">
                <optgroup class="top-panel-select-option">
                    <option>most recent</option>
                    <option>most recent1</option>
                    <option>most recent2</option>
                    <option>most recent3</option>
                </optgroup>
            </select>
        </div>
    </div>
</div>

<div class="items-panel flex flex-wrap-row flex-align-vertical-top" *ngIf="scrollableResult">

    <ti-modal-video (onShown)="onShownVideo($event)" (onHide)="onHideVideo($event)"></ti-modal-video>

    <div class="items-list-panel flex flex-wrap-column" InfiniteScroll (OnScrollMethod)="nextPage()" [ScrollDistance]="300" [ScrollDisabled]="!scrollableResult.hasNext()">
        <ti-study *ngFor="let studyElm of scrollableResult.getItems()" [item]="studyElm" [editmode]="editmode"></ti-study>
    </div>

    <!-- video placeholder -->
    <div class="items-video-panel">
        <div class="video-placeholder"></div>
    </div>

</div>

