<div class="top-panel flex flex-wrap-row flex-align-horizontal-stretch flex-align-vertical-center">
    <div class="top-panel-cell left">
        <span *ngIf="queryFilter.filter.pattern.value || queryFilter.filter.speaker.value">displaying results for </span>
        <span *ngIf="queryFilter.filter.pattern.value">
            "<span class="highlight-blue search-pattern" [innerHTML]="queryFilter.filter.pattern.value" (click)="onSearchClear('pattern')"></span>"
        </span>
        <span *ngIf="queryFilter.filter.pattern.value && queryFilter.filter.speaker.value"> and </span>
        <span *ngIf="queryFilter.filter.speaker.value">
            speaker "<span class="highlight-blue search-pattern" [innerHTML]="queryFilter.filter.speaker.value" (click)="onSearchClear('speaker')"></span>"
        </span>
    </div>
    <div class="top-panel-cell right form-inline">
        <div class="form-group sort-option">
            <!-- Split button -->
            <label for="sel">sort by: </label>
            <div class="btn-group" dropdown id="sel">
                <button id="split-button" type="button" class="btn btn-default btn-option btn-text top-panel-select" dropdownToggle>{{selectedSorting.name}}</button>
                <button type="button" class="btn btn-default btn-option dropdown-toggle" dropdownToggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="split-button">
                    <li role="menuitem" *ngFor="let opt of sortOptions"><a class="dropdown-item" (click)="onChangeSorting(opt)">{{opt.name}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="items-panel flex flex-wrap-row flex-align-vertical-top" *ngIf="scrollableResult">

    <ti-modal-video (onShown)="onShownVideo($event)" (onHide)="onHideVideo($event)"></ti-modal-video>

    <div class="items-list-panel flex flex-wrap-column" InfiniteScroll (OnScrollMethod)="nextPage()" [ScrollDistance]="350" [ScrollDisabled]="!scrollableResult.hasNext()">
        <ti-study *ngFor="let studyElm of scrollableResult.getItems()" [item]="studyElm" [editMode]="editMode"></ti-study>
    </div>

    <!-- video placeholder -->
    <div class="items-video-panel">

        <div class="trend-row" *ngIf="!editMode">
            <div class="trends-content">
                <div class="row">
                    <div class="col-lg-12 trends-header">Trending now:</div>
                    <div class="col-lg-12 trends-element" *ngFor="let trend of trends; let i = index" (click)="onTrendSearch(trend)">
                        {{i+1}}. {{trend.text}}
                    </div>
                </div>
            </div>
        </div>


        <ti-slide-view></ti-slide-view>
    </div>

</div>

