.top-panel {

  width: 100%;
  font-size: 1.5em;

  .top-panel-cell {

    &.left {
      width: 70%;
      text-align: left;
    }

    &.right {
      width: 30%;
      text-align: right;

      .sort-option {

        .btn-group {
          .btn {
            &.btn-option {
              font-size: 0.9em;
              background-color: #454545;
              color: #ffffff;
              text-transform: capitalize;
            }
            &.btn-text {
              min-width: 150px;
            }
          }
          .dropdown-menu {
            font-size: 0.9em;
            background-color: #454545;
            text-transform: capitalize;
            li {
              a {
                color: #ffffff;
                cursor: pointer;
              }
              a:hover {
                background: transparent;
                color: #cccccc;
              }
            }
          }
        }

      }

      .form-control {
        &.top-panel-select {
          font-size: 1em;
          background-color: #454545;
          color: #ffffff;
          text-transform: capitalize;
          height: 40px;
          min-width: 150px;

          .top-panel-select-option {
            font-size: 0.8em;
            font-family: 'BebasBold', sans-serif !important;
            text-transform: capitalize !important;
          }

        }
      }

    }

  }

  .search-pattern:hover {
    cursor: pointer;
    text-decoration: line-through;
  }
}

.items-panel {

  width: 100%;

  .items-list-panel {

    width: calc(100% - 340px);
    vertical-align: top;

    .item-list-panel-pagination {
      width: 100%;
      margin: 20px 0;

      .pagination {
        .page-item {
          a {
            margin-right: 10px;
            color: #454545;
            border: 2px solid #454545;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
          }

          &.active {
            a {
              background: #454545;
              color: #ffffff;
              border: 2px solid #454545;
            }
          }

        }

      }

    }

  }

  .items-video-panel {
    vertical-align: top;
    padding: 20px 0 0 20px;

    .video-placeholder {
      width: 320px;
      min-height: 270px;
      background: #454545;
    }

  }

}


@media only screen and (max-width: 540px) {

  .items-panel {

    width: 100%;

    .items-list-panel {

      width: 100%;
    }

    .items-video-panel {

      margin: 0 auto 20px;

      .video-placeholder {
        width: 320px;
        min-height: 270px;
        background: #454545;
      }

    }

  }

}

@media only screen and (max-width: 768px) {

  .items-panel {

          width: 100%;

          .items-list-panel {

            width: 100%;
          }

          .items-video-panel {

            margin: 0 auto 20px;

            .video-placeholder {
              width: 320px;
              min-height: 270px;
              background: #454545;
            }

          }

        }

}

@media only screen and (max-width: 960px) {

  .items-panel {

    width: 100%;

    .items-list-panel {

      width: 100%;
    }

    .items-video-panel {

      margin: 0 auto 20px;

      .video-placeholder {
        width: 320px;
        min-height: 270px;
        background: #454545;
      }

    }

  }

}
