<div class="items-panel flex flex-wrap-row flex-align-vertical-top">

    <modal-component *ngIf="!editmode"></modal-component>

    <div class="items-list-panel flex flex-wrap-column">
        <!-- iteration start-->
        <ti-study *ngFor="let studyElm of list" [item]="studyElm" [editmode]="editmode"></ti-study>
        <!-- iteration end-->
    </div>

    <!-- video placeholder -->
    <div class="items-video-panel">
        <div class="video-placeholder"></div>
    </div>

</div>

<ti-modal-video></ti-modal-video>