.modal {
  &.modal-message {
    .modal-dialog {
      .modal-content {

        .modal-header {
          .close {
            span {
              font-size: 2.5em;
            }
          }
        }

        .modal-body {
          &.message-embed {
            margin: 20px 0;
            text-align: center;
          }

          .btn-form {
            background-color: #454545;

            &:hover {
              color: #cccccc;
            }

          }
        }
      }
    }
  }
}
