.modal {
  &.modal-video {
    .modal-dialog {
      margin-top: 5%;
      .modal-content {

        .modal-header {
          .close {
            span {
              font-size: 2.5em;
            }
          }
        }

        .modal-body {
          &.video-embed {
            text-align: center;
          }
        }
      }
    }
  }
}
