.slide-item-panel {
  vertical-align: top;
  padding: 0 10px 20px 0;

  .action {
    background-color: rgba(123, 123, 123, 0.49);
    border-radius: 5px;
    position: absolute;
    padding: 5px;
    width: 318px;
    margin: 1px;
  }

  .slide-item-placeholder {
    width: 320px;
    height: 270px;
    color: #ffffff;

    background-color: #b9b9b9;
    background-repeat: no-repeat;
    background-position: center center;

    border: 1px solid #000;
    border-radius: 0;
  }

  .my-drop-zone {
    border: dotted 1px #000;
  }

  .nv-file-over {
    border: dotted 1px #FF0000;
  }

  .form-group {
    margin-bottom: 0;

    .link {
      margin-top: 60px;
    }
  }

  button {
    width: 40px;
    opacity: 0.8;

    &:hover {
      opacity: 0.4;
    }
  }

  button:hover, button:focus {
    background-color: transparent;
    outline-color: transparent;
  }

  .text-upload {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.34);
    text-align: center;
    margin-top: 80px;
  }

}