<div class="slide-item-panel" *ngIf="item">

    <div class="action">
        <span class="btn btn-file-input">
             <span>
                <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*"/>
                <span class="text">Upload</span>
            </span>
        </span>

        <button *ngIf="edit || addMode" type="button" class="close" (click)="onSave()" [disabled]="!item.attachment" aria-label="Save">
            <i class="fa fa-check"></i>
        </button>
        <button *ngIf="edit || addMode" type="button" class="close" (click)="onCancel()" aria-label="Cancel">
            <i class="fa fa-undo"></i>
        </button>
        <button *ngIf="!edit && !addMode" type="button" class="close" (click)="onRemove()" aria-label="Close">
            <i class="fa fa-times-circle"></i>
        </button>
        <button *ngIf="!edit && !addMode" type="button" class="close" (click)="onEdit()" aria-label="Edit">
            <i class="fa fa-pencil"></i>
        </button>
    </div>

    <div class="slide-item-placeholder well my-drop-zone" *ngIf="edit || addMode"
         [ngStyle]="{'background-image': 'url(' + attachURL() + ')', 'background-size': 'cover', 'filter': 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=' + attachURL() + ',sizingMethod=scale)'}"
         ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader">

        <div class="text-upload">Drop zone</div>

        <fieldset class="form-group">
            <input class="form-control link" name="link" placeholder="link" [(ngModel)]="item.link">
        </fieldset>
    </div>

    <div class="slide-item-placeholder well" *ngIf="!edit && !addMode" [ngStyle]="{'background-image': 'url(' + attachURL() + ')'}">

        <div class="text-upload">&nbsp;</div>

        <fieldset class="form-group">
            <input class="form-control link" name="link" placeholder="link" [(ngModel)]="item.link" disabled="disabled">
        </fieldset>
    </div>

</div>