<div class="col-lg-12 footer flex flex-wrap-column flex-align-vertical-center">
    <div class="inner-panel flex flex-wrap-row flex-align-vertical-center flex-align-horizontal-stretch">
        <div class="inner-panel-cell left">
            FaithInquest.com
        </div>
        <div class="inner-panel-cell">
            <a href="mailto:questions@faithinquest.com ">Contact Us</a>
        </div>
        <div class="inner-panel-cell right">
            2016 &copy; FaithInquest.com All rights reserved.
        </div>
    </div>
</div>
