.items-list-panel-element {
  margin-top: 20px;
  padding-top: 20px;

  width: 100%;
  border-top: 1px solid #1fbbd2;

  .items-list-panel-element-cell {

    vertical-align: middle;
    line-height: 1.3em;

    a, a:hover, a:active {
      color: #000;
      cursor: pointer;
    }

    .item-title {
      font-size: 2.6rem;
    }

    .item-author {
      font-size: 1.3rem;
    }

    &.preview {
      width: 240px;

      .image-wrapper {
        position: relative;
        overflow:hidden;
        width: 220px;
        height:115px;
        background-color: #454545;
        border: 1px solid #454545;
        margin: 0 auto;

        img {
          position: absolute;
          width: 100%;
          height: auto;
          top:-100%; left:0; right: 0; bottom:-100%;
          margin: auto;
          cursor: pointer;
        }

      }

    }

    &.share {
      margin-top: 5px;
      width: 60px;
      text-align: center;
    }

    &.middle {
      margin-top: 5px;
      width: calc(100% - 300px);
    }

  }

}

@media only screen and (max-width: 540px) {

  .items-list-panel-element {

    .items-list-panel-element-cell {

      &.preview {
        text-align: center;
        width: 100%;
      }

      &.share {
        width: 100%;
        text-align: center;
      }

      &.middle {
        width: 100%;
        margin-top: 20px;
      }

    }

  }

}

@media only screen and (max-width: 768px) {

  .items-list-panel-element {

    .items-list-panel-element-cell {

      &.preview {
        text-align: center;
        width: 100%;
      }

      &.share {
        width: 100%;
        text-align: center;
      }

      &.middle {
        width: 100%;
        margin-top: 20px;
      }

    }

  }

}

@media only screen and (max-width: 960px) {

  .items-list-panel-element {

    .items-list-panel-element-cell {

      &.preview {
        text-align: center;
        width: 100%;
      }

      &.share {
        width: 100%;
        text-align: center;
      }

      &.middle {
        width: 100%;
        margin-top: 20px;
      }

    }

  }

}
