.bible-study-page {

  font-family: 'BebasBold', sans-serif;
  text-transform: uppercase;

  .main-content {

    .inner-panel {
      &.head-title {
        margin-top: 30px;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
      }

    }

    .items-search {
      width: 100%;
      padding: 40px 0;

      .input-group {

        .input-group-addon {
          cursor: pointer;
        }

        .black {

          &input[text] {
            border-left: 0;
          }

          background-color: #454545;
          color: #ffffff;
        }
      }

    }

  }

}
