<div class="items-list-panel-element flex flex-wrap-row">

    <div class="items-list-panel-element-cell preview">
        <img src="../../assets/img/{{item.img}}">
    </div>
    <div class="items-list-panel-element-cell middle">
        <div class="item-title">
            {{item.title}}
        </div>
        <div class="item-author">
            by <span class="highlight-blue">{{item.author}}</span>
        </div>
        <div class="item-description" [innerHTML]="item.description">
        </div>
    </div>
    <div class="items-list-panel-element-cell share">
        <img src="../../../assets/img/share.png"><br>
        share
    </div>

</div>
