<div class="row">
    <div class="col-md-12 margin-bottom-20">
        <button type="reset" (click)="onBack()" class="btn">Back</button>
    </div>
</div>

<div class="row">

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <span *ngFor="let item of slides; let i = index">{{i + 1}}) {{item.indexNumber}}<br/></span>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <ul class="list-inline" dnd-sortable-container [sortableData]="slides">
            <li class="item" *ngFor="let item of slides; let i = index"
                dnd-sortable [sortableIndex]="i" (onDropSuccess)="transferSuccess($event)" [dragData]="item">
                <div class="slide-item-panel">
                    <div class="slide-item-placeholder well my-drop-zone"
                         ng2FileDrop
                         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                         (fileOver)="fileOverBase($event)"
                         [uploader]="uploader">
                        {{item.indexNumber}}<br>
                        Base drop zone<br>
                        <span class="btn btn-file-input">
                             <span>
                                <input type="file" ng2FileSelect [uploader]="uploader"/>
                                <span class="text">Bulk Upload</span>
                            </span>
                        </span>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="slide-item-panel">
                    <div class="slide-item-placeholder">
                        New
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
