html, body {
  height: 100%;
  background-color: #454545;
}

@font-face {
  font-family: 'BebasBold';
  src: url('../fonts/custom/BebasNeue Bold.ttf');
}

.no-padding {
  padding: 0 !important;
}

.full-width {
  width: 100%;
}

.highlight-blue {
  color: #1fbbd2;
}

.row {

  .header {
    width: 100%;
    background: url(../assets/img/faithbg.jpg) no-repeat center center;
    background-size: cover;
    min-height: 600px;
  }

  .main-content {
    background: #e6eef0;
    width: 100%;

    .inner-panel {
      width: 80%;
      margin: 0 auto;
      padding: 20px 0;
      min-height: 100px;

      .items-cloud {
        width: 100%;
        margin: 0 auto;
        height: 200px;

        .jqcloud {

          overflow: hidden;
          position: relative;
          font-size: 18px;
          margin: 0 auto;
          border: 1px solid #cccccc;

          span {
            cursor: pointer;
            &.w1 {
              font-size: 100%;
              color: rgba(10, 52, 59, 0.62);
            }
            &.w2 {
              font-size: 150%;
              color: rgba(9, 100, 105, 0.53);
            }
            &.w3 {
              font-size: 200%;
              color: #093f48;
            }
            &.w4 {
              font-size: 250%;
              color: #216480;
            }
            &.w5 {
              font-size: 300%;
              color: #1f9ab1;
            }
            &.w6 {
              font-size: 350%;
              color: #147382;
            }
            &.w7 {
              font-size: 400%;
              color: #5e7597;
            }
            &.w8 {
              font-size: 450%;
              color: #74b7d2;
            }
            &.w9 {
              font-size: 500%;
              color: #074052;
            }
            &.w10 {
              font-size: 550%;
              color: #1fbbd2;
            }
          }

        }

      }
    }
  }

  .footer {
    min-height: 100px;

    font-family: 'BebasBold', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
    background: #454545;

    .inner-panel {
      margin: 0 auto;
      width: 80%;
      min-height: 100%;
      color: white;

      .inner-panel-cell {

        &.right {
          text-align: right;
        }

        &.left {
          text-align: left;

          font-size: 3em;

        }

      }

    }

  }

}

#application-version {
  position: fixed;
  bottom: 0;
  right: 0;
  color: transparent;
  padding: 5px;
  font-size: 4pt;
  width: 100px;
  &:hover {
    color: inherit;
    font-size: 11pt;
    width: auto;
  }
}


@media only screen and (max-width: 540px) {

  .row {
    .main-content {
      .inner-panel {
        width: 95%;
      }
    }
  }


    .footer {

    .inner-panel {

      .inner-panel-cell {

        &.right {
          width: 100%;
          text-align: center;
        }

        &.left {
          width: 100%;
          text-align: center;

        }

      }

    }

  }

}

@media only screen and (max-width: 768px) {

  .row {
    .main-content {
      .inner-panel {
        width: 95%;
      }
    }
  }

}

@media only screen and (max-width: 960px) {

  .row {
    .main-content {
      .inner-panel {
        width: 95%;
      }
    }
  }

}
